@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align: center;
	color: ;
	font-family: Playfair, serif;
	font-size: 20px;
  font-weight: normal;

}

section {
	padding:0em 0;
}
nav, .logo {
	padding:0;
}

.logo {
	float:left;
}
#intro {
	background:url(../images/mars1_inspiration.jpg) no-repeat;
	background-size:cover;
	height: 65vh;
	padding: 10em 0 0;
  font-weight:bold;
  font-size: 30px;
}

header {
  background-color: #FFFFFF;
  border: 1px black solid;
  padding: 20px;
  width: 100%;
	
}
nav {
	
	  background-color: #000000 ;
	  font-family: Playfair, serif;
	  position: relative;
    left: 100px;
    text-align: center;
    width:100%;
  }

a {
	background-color: #000000;
	position: relative;
	color: white;
	text-decoration: none;
	display: block;
	float:left;
	left: 100px;
	padding: 8px;
}
a:hover {
  background-color: #FFFFFF;
} 

#two_column {
    background-color: #FFFFFF;
    border: 1px gray solid;
    padding: 20px;
    float: left;
    width: 100%;
}

#about { 
width:100%;
float:left;
padding: 20px;
 }

 #about img {
  width: 20%;
 }

#inspiration {
  width:49%
  float:left;
  padding: 20px;

}

#inspiration img {
  width: 30%;
}

#three_column {
    background-color: #FFFFFF;
    border: 1px gray solid;
    padding: 20px;
    float: left;
    width: 100%;
}

#left {
    background-color: #FFFFFF;
    border: 1px white solid;
    padding: 20px;
    float:left;
    width: 33%;
}
#left img {
	width: 100%;
}
#middle {
    background-color: #FFFFFF;
    border: 1px white solid;
    padding: 20px;
    float:left;
    width: 33%;
}
#middle img{
	width: 100%;
}

#right{
    background-color: #FFFFFF;
    border: 1px white solid;
    padding: 20px;
    float:left;
    width: 33%;
}

#right img{
	width: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}




